*{
    margin: 0;
    background-color: #70707b;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
    padding: 1vw;
    background-color: rgb(51, 41, 84);
    color: white;
}

.guide{
    text-align: center;
}
.guide h2{
}
.guide dt{
    font-size: large;
}


.allInputs {
display: flex;
flex-flow: column wrap;

}

label{
    padding-bottom: 2vw;
}
input {
    padding: 2vw;
    border: 1px solid #021a40;
    border-radius: 2vw;
    background-color: white;
    color:black
}
button{
    border-radius: 2vw;
    padding: 1vw;
    background-color: #5b5b65;
}

#selectedHidden1 {
    display: none;
 }

 #selectedHidden2 {
    display: none;
 }




#elements{
    margin-bottom:1em;
}

#subInput{
    margin-bottom:1em;
}


.picture{
    max-width: 60vw;
    margin-top:1em;
    border:1px solid #021a40;
    filter: drop-shadow(20px 10px 4px #70707b);
}
.centerImage{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.sectionInputs {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2vw;
    border: 10vw;
    border: 1px solid #021a40;
    border-radius: 2vw;
    max-width: 50vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
}
.selection{
    font-size: large;
    text-align: center;
    background-color: #5b5b65;
    border-radius: 2vw;
}

