h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#selectedHidden1 {
    display: none;
 }

 #selectedHidden2 {
    display: none;
 }

.allInputs{
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

#elements{
    margin-bottom:1em;
}

.picture{
    max-width: 60vw;
    margin-top:1em;
    border:1px solid #021a40;
    filter: drop-shadow(20px 10px 4px #70707b);
}
.centerImage{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
