h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#selectedHidden1 {
    display: none;
 }

 #selectedHidden2 {
    display: none;
 }

.allInputs{
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

#elements{
    margin-bottom:1em;
}
